.flexbox{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items:center;
}

.align-self-center{
    align-self: center;
}

.flex-direction-column{
    flex-direction: column;
}

.align-items-flex-end{
    align-items: flex-end;
}